In [1]:
import numpy as np
import pandas as pd

In [31]:
bakeryDF=pd.read_csv(r"C:\Users\valer\Desktop\Projects\Tableu dfs\Bakery.csv")
bakeryDF.head()

   TransactionNo          Items             DateTime  Daypart  DayType
0              1          Bread  2016-10-30 09:58:11  Morning  Weekend
1              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
2              2   Scandinavian  2016-10-30 10:05:34  Morning  Weekend
3              3  Hot chocolate  2016-10-30 10:07:57  Morning  Weekend
4              3            Jam  2016-10-30 10:07:57  Morning  Weekend

In [32]:
dateTime=pd.to_datetime(bakeryDF['DateTime'])
bakeryDF['Day']=dateTime.dt.day_name()
bakeryDF['Month']=dateTime.dt.month_name()
bakeryDF['Year']=dateTime.dt.year
bakeryDF.head(5)

,TransactionNo,Items,DateTime,Daypart,DayType,Day,Month,Year
0,1,Bread,2016-10-30 09:58:11,Morning,Weekend,Sunday,October,2016
1,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Sunday,October,2016
2,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Sunday,October,2016
3,3,Hot chocolate,2016-10-30 10:07:57,Morning,Weekend,Sunday,October,2016
4,3,Jam,2016-10-30 10:07:57,Morning,Weekend,Sunday,October,2016

In [33]:
bakeryDF['Daypart'].value_counts()

Afternoon    11569
Morning       8404
Evening        520
Night           14
Name: Daypart, dtype: int64

In [34]:
bakeryDF['hour']=dateTime.dt.hour

In [35]:
bakeryDF

,TransactionNo,Items,DateTime,Daypart,DayType,Day,Month,Year,hour
0,1,Bread,2016-10-30 09:58:11,Morning,Weekend,Sunday,October,2016,9
1,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Sunday,October,2016,10
2,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Sunday,October,2016,10
3,3,Hot chocolate,2016-10-30 10:07:57,Morning,Weekend,Sunday,October,2016,10
4,3,Jam,2016-10-30 10:07:57,Morning,Weekend,Sunday,October,2016,10
...,...,...,...,...,...,...,...,...,...
20502,9682,Coffee,2017-09-04 14:32:58,Afternoon,Weekend,Monday,September,2017,14
20503,9682,Tea,2017-09-04 14:32:58,Afternoon,Weekend,Monday,September,2017,14
20504,9683,Coffee,2017-09-04 14:57:06,Afternoon,Weekend,Monday,September,2017,14
20505,9683,Pastry,2017-09-04 14:57:06,Afternoon,Weekend,Monday,September,2017,14
20506,9684,Smoothies,2017-09-04 15:04:24,Afternoon,Weekend,Monday,September,2017,15

In [36]:
bakeryDF['part_of_the_day'] = 'morning'

In [37]:
def get_the_day(x):

    

    if 0 <= x < 2:
        return '12am-2am'
    if 2 <= x < 6:
        return '2am-6am'
    if 6 <= x < 8:
        return '6am-8am'
    if 8 <= x < 11:
        return '8am-11am'
    if 11 <= x < 12:
        return '11am-12pm'
    if 12 <= x < 15:
        return '12pm-3pm'
    if 15 <= x < 17:
        return '3pm-5pm'
    if 17 <= x < 18:
        return '5pm-7pm'
    if 18 <= x < 21:
        return '7pm-9pm'
    if 21 <= x < 23:
        return '9pm-11pm'
    if 23 <= x < 0:
        return '11pm-12am'

In [38]:
bakeryDF['hour'] = bakeryDF['hour'].astype(int)

In [39]:
bakeryDF['part_of_the_day'] = bakeryDF['hour'].apply(lambda x: get_the_day(x))

In [40]:
bakeryDF

,TransactionNo,Items,DateTime,Daypart,DayType,Day,Month,Year,hour,part_of_the_day
0,1,Bread,2016-10-30 09:58:11,Morning,Weekend,Sunday,October,2016,9,8am-11am
1,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Sunday,October,2016,10,8am-11am
2,2,Scandinavian,2016-10-30 10:05:34,Morning,Weekend,Sunday,October,2016,10,8am-11am
3,3,Hot chocolate,2016-10-30 10:07:57,Morning,Weekend,Sunday,October,2016,10,8am-11am
4,3,Jam,2016-10-30 10:07:57,Morning,Weekend,Sunday,October,2016,10,8am-11am
...,...,...,...,...,...,...,...,...,...,...
20502,9682,Coffee,2017-09-04 14:32:58,Afternoon,Weekend,Monday,September,2017,14,12pm-3pm
20503,9682,Tea,2017-09-04 14:32:58,Afternoon,Weekend,Monday,September,2017,14,12pm-3pm
20504,9683,Coffee,2017-09-04 14:57:06,Afternoon,Weekend,Monday,September,2017,14,12pm-3pm
20505,9683,Pastry,2017-09-04 14:57:06,Afternoon,Weekend,Monday,September,2017,14,12pm-3pm
20506,9684,Smoothies,2017-09-04 15:04:24,Afternoon,Weekend,Monday,September,2017,15,3pm-5pm

In [41]:
bakeryDF.to_excel(r"C:\Users\valer\Desktop\Projects\Tableu dfs\Bakery.xlsx")